name: Build and publish to PyPI

on: 
  push:
    tags:
       - "v*.dev"

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: testpypi

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build Docker image
        run: |
          docker build \
            -t apyefa:release -f .devcontainer/Dockerfile .

      - name: Build package
        run: |
          docker run --rm \
            -v $PWD/dist:/app/dist \
            apyefa:release \
            uv run python -m build

      - name: Publish to TestPyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: |
          twine upload \
            --repository-url https://test.pypi.org/legacy/ \
            dist/*