name: Lint and Test

on:
  - push
  - pull_request

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    - name: Build Docker image
      run: |
        docker build \
          --build-arg PYTHON_VERSION=${{ matrix.python-version }} \
          -t apyefa:${{ matrix.python-version }} -f .devcontainer/Dockerfile .

    - name: Lint code with Ruff
      run: docker run --rm apyefa:${{ matrix.python-version }} uv run ruff check .

    - name: Check code formatting with Ruff
      run: docker run --rm apyefa:${{ matrix.python-version }} uv run ruff format --diff .
      continue-on-error: true

    - name: Test with pytest
      run: |
        docker run --rm apyefa:${{ matrix.python-version }} uv run pytest --doctest-modules --junitxml=junit/test-results-${{ matrix.python-version }}.xml
